p {
  width: 90%;
  margin: 10px 30px;
  align-self: center;
  text-align: center;
  line-height: 85px; 
  font-size: 32px;
  font-style: italic;
  font-weight: 800;
  -webkit-text-stroke: .8px rgb(159, 59, 59);
    color: rgb(127, 11, 11);
  text-shadow: 2px 2px 5px #e0cccc;
}
body{
  background-image: url(./snow.png);
  background-size: 160px;
  background-color: rgb(88, 155, 217);
}